input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}
.action0 {
    background-color: red;
    color: white;
}
.action1 {
    background-color: blue;
    color: white;
}
.operation {
    background-color: orange;
}
.result {
    background-color: green;
    color: white;
}
.sign {
    background-color: black;
    color: white;
}