body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 90%;
    width: 90%;
    border: #eaeaea 2px solid;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.buttons button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #ddd;
}
.buttons .operator {
    background-color: #f0ad4e;
    color: white;
}
.buttons .operator:hover {
    background-color: #ec971f;
}
.buttons .equals {
    background-color: #5cb85c;
    color: white;
}
.buttons .equals:hover {
    background-color: #4cae4c;
}
.buttons .clear {
    background-color: #d9534f;
    color: white;
}
.buttons .clear:hover {
    background-color: #c9302c;
}